<body class="container white-text" >
    <div style="position:relative">
        <a href="../logout" style="position:absolute;right:10px;top:10px">
        <button class="waves-effect waves-light btn">Logout</button>
    </a>
    </div>
    
    <h3>Welcome {{firstName}}</h3>
    <p style="border-bottom: 3px solid white"></p>
    <h5>Account Details</h5>
    <p>
        <b style="display: inline-block; width:200px">Name:</b> {{firstName}} {{lastName}} <br>
        <b style="display: inline-block; width:200px">Username:</b> {{username}} <br>
        <b style="display: inline-block; width:200px">Account created on:</b> {{createdAt}}
    </p>

</body>